<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Sell_in</th>
        <th scope="col">Quality</th>
      </tr>
    </thead>
    <tbody>
    <tr class="table-light">
      <th scope="row">AgedBrie</th>
      <td>Aged Brie</td>
      <td>2</td>
      <td>0</td>
    </tr>          
    <tr class="table-light">
      <th scope="row">BackstagePass</th>
      <td>Backstage passes to a TAFKAL80ETC concert</td>
      <td>15</td>
      <td>20</td>
    </tr>       
    <tr class="table-light">
      <th scope="row">BackstagePass</th>
      <td>Backstage passes to a TAFKAL80ETC concert</td>
      <td>10</td>
      <td>49</td>
    </tr>       
    <tr class="table-light">
      <th scope="row">BackstagePass</th>
      <td>Backstage passes to a TAFKAL80ETC concert</td>
      <td>5</td>
      <td>49</td>
    </tr>       
    <tr class="table-light">
      <th scope="row">Conjured</th>
      <td>Conjured Mana Cake</td>
      <td>3</td>
      <td>6</td>
    </tr>
    </tbody>
</table>