<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Sell_in</th>
        <th scope="col">Quality</th>
      </tr>
    </thead>
    <tbody>     
    <tr class="table-light">
      <th scope="row">Sulfuras</th>
      <td>Sulfuras, Hand of Ragnaros</td>
      <td>0</td>
      <td>80</td>
    </tr>       
    <tr class="table-light">
      <th scope="row">Sulfuras</th>
      <td>Sulfuras, Hand of Ragnaros</td>
      <td>-1</td>
      <td>80</td>
    </tr>
    </tbody>
</table>